<div id="main">
    <div id="mainText">
        <h1>About</h1>
        <br>
        Joshua Clark is a creative designer, programmer, animator and asset creator.  He has made virtual worlds in which millions have visited.  He brings creative ideas to the table and solutions to any problem.  He has made animations that have brought millions of viewers.  He has created characters that have been turned into physical toys that have been bought in many big name retail stores.  Joshua is always bringing something new and unique to the world.
        <br>
        <br>
        <!-- <h1>Technological Expertise</h1>
        <br> -->
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Technological Expertise
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div id="mainText">
                <ul>
                    <li>C#, C++, Java</li>
                    <li>JavaScript, TypeScript</li>
                    <li>LUA, Python</li>
                    <li>HTML, Flexbox, Angular</li>
                    <li>Blender (3D Animation and Modeling)</li>
                    <li>FL Studio (Music and Sound Design)</li>
                    <li>Photoshop (Texturing and Promotional Media)</li>
                </ul>
            </div>
          </mat-expansion-panel>
    </div>
</div>